{
  "root": true,
  "ignorePatterns": [
    "node_modules",
    "coverage",
    "lib"
  ],
  "extends": [
    "standard"
  ],
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "always"],
    "brace-style": ["error", "stroustrup"]
  }
}
