{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "env": {
    "es6": true
  },

  "plugins": [
    "prettier"
  ],

  "rules": {
    "quotes": ["error", "single"]
  }
}
