node_modules
logs
pids
lib-cov
coverage
build/Release
test
tests
lib

*.log
*.pid
*.seed
*.test.js

.gitignore
.npmignore
.editorconfig
.jshintrc
.eslintrc
.eslintignore
.grunt
.lock-wscript
.travis.yml
